// COLOR

$black: #010101;
$white: #FFFFFF;
$grey: #3E3E3E;
$blue:#38B6FF;

//------------------------------^

// FONT SIZE
$h1Size:9vw;
$h3Size:5vw;
$h4Size:4vw;
//tablet
$h1Tsize:8vw;
$h3Tsize:4vw;
$h4Tsize:3vw;
//------------------------------^

// FONT
@font-face {
    font-family: 'Font';
    src: url('../../assets/font/Gayathri-Thin.woff2') format('woff2'),
         url('../../assets/font/Gayathri-Thin.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/font/Gayathri-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'FontBold';
    src: url('../../assets/font/Gayathri-Regular.woff2') format('woff2'),
         url('../../assets/font/Gayathri-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/font/Gayathri-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../assets/font/Gayathri-Regular.svg') format('svg');

}
//------------------------------^

// Mixin flex center

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
  }

//------------------------------^
  
::-webkit-scrollbar {
    width: 0px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html body{
    background-color: $black;
    color:$white;
    font-family: 'Font';
    overflow-x: hidden;
    max-width: 2000px;
    margin: 0 auto;
}

// ---------NAVBAR---------------
header{
    display: flex;
    justify-content: center;
    background:#0101014d ;
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    height: 9vh;
    //height: 7vw; per telefono girato
    width: 100%;
    position: fixed;
    top:0;
    transition: all .8s linear;
    z-index:2;
    #navMenu{
       position:fixed;
       top:2.5vh;
       right:15px;
       transform: rotate(180deg);
       -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        .span1,
        .span2,
        .span3 {
           display:block;
           width: 36px;
           height: 4px;
           background-color: $white;
           transition:  all .4s ease-in-out;
           &:not(:last-child){
               margin-bottom: 8px;
            }
        }  
        .span1{
            width: 16px;
        }
        .span2{
            width: 32px;
        }
        .span3{
            width: 48px;
        }
    }
    #navMenu.active{
        .span2{
              width: 0;
        }
        .span1{
            transform: translateY(12px) rotate(45deg);
            -webkit-transform: translateY(12px) rotate(45deg);
            -ms-transform: translateY(12px) rotate(45deg);
            -moz-transform: translateY(12px) rotate(45deg);
            width: 42px;
        }
        .span3{
            transform: translateY(-12px) rotate(-45deg);
            -webkit-transform: translateY(-12px) rotate(-45deg);
            -ms-transform: translateY(-12px) rotate(-45deg);
            -moz-transform: translateY(-12px) rotate(-45deg);
            width: 42px;
        }
    }
    img{
    position: fixed;
    top:1vh;
    left: 10px;
    width: 50px;
    }
    //link
    .nav-link-container{
        margin-top: -900px;
        transition:  all .8s ease-out;
        text-align: center;
        overflow-y:auto;
        font-family: 'FontBold';
        li{
            list-style: none; 
            margin: 3em;

            a{
                text-decoration: none;
                color: $white;
                // font-size: 30px;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                &:hover{
                    transition: all .6s linear;
                    color:$blue;
                }
            }           
        }     
    }
}
    
.menu-container{
    position: fixed;
    top:0 !important;
    background-color: $black;
    height: 100vh;
    width: 100vw;
}
//--------------HOME---------------------
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:650px;
    position:relative;
    font-family: 'FontBold';
    .home{
        height: 90%;
        width: 95%;
        position:relative;
        font-family: 'FontBold';
        .title {
            position: relative;
            top:18%;
            width: auto;
            font-family: 'FontBold';
            h1{
                font-size: $h1Size;
                font-family: 'FontBold';
                .hello{
                        color: $blue;
                        font-size: 3em;
                    }
                .virgola{
                    margin-bottom:-4px;
                }
                &:nth-child(2){
                    margin-bottom: 4px;
                }
                &:nth-child(3){
                    margin-bottom:45px;
                }
            }
            a{
              text-decoration: none;
              -webkit-tap-highlight-color: rgba(0,0,0,0);
              color: $blue;
              font-size: $h3Size; 
              display:inline-flex;
              .fa-forward{
                color: $white;
                margin-top:3px;
                margin-left: 11px;
                font-size: 0.7em;
              }
            }
           
        }
        .laptopHeader{
            display:none;
        }
    }
    img{
        position: absolute;
        width: 60vw;
        height: 60vw;
        bottom:0;
        right: 0;
        max-width: 1000px;
        max-height:1000px;
        }      
}

//----------------HARD SKILL SECTION--------------

.hard-skill{
    @include flexCenter();
    flex-direction: column;
    .title-sentence{
        width: 90%;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        h1{
            font-size:$h1Size + 2vw;
            font-family: 'FontBold';
            color: $blue;
            align-self:flex-end;
        }
        h3{
            margin-top:40px;
            font-size: $h3Size;
            text-align: center;
        }
    }
    .skill-container{
     background:rgba(15, 15, 15, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     height:auto;
     width: 95%;
     margin-top: 60px;
     border-top:1px solid $white;
     border-bottom: 1px solid $white;
     h3{
        font-size: $h3Size;
        margin-top:60px;
        margin-left:5px;
        span{
            color: $blue;
            margin-right: 10px;
            margin-left: 15px;
        }
     }
    .list{
        // border: 1px solid blue;
        position: relative;
        width: 95%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        // justify-content: space-between;
        grid-template-columns: 1fr 2fr;
        gap:30px;
        font-size: $h4Size;
        .progress-bar{
            width: 100%;
            height: 6px;
            margin-top:5px;
            border-right: 1px solid $blue;
            border-bottom: 1px solid $blue;
            .html-progress{
                position:relative;
                height: 100%;
                width: 95%; 
                .progress{
                    position:absolute;
                    left:0;
                    height: 100%;
                    background-color: $blue;
                    transition: width 1s ease;
                }             
            }
            .css-progress{
                position: relative;
                height: 100%;
                width: 90%;
                .progress{
                    position:absolute;
                    left:0;
                    height: 100%;
                    background-color: $blue;
                    transition: width 1s ease;
                }  
            }
            .js-progress{
                position: relative;
                height: 100%;
                width: 80%;
                .progress{
                    position:absolute;
                    left:0;
                    height: 100%;
                    background-color: $blue;
                    transition: width 1s ease;
                }  
            }
            .react-progress{
                position:relative;
                height: 100%;
                width: 60%;
                .progress{
                    position:absolute;
                    left:0;
                    height: 100%;
                    background-color: $blue;
                    transition: width 1s ease;
                }   
            }
            .bootstrap-progress{
                position: relative;
                height: 100%;
                width: 70%;
                .progress{
                    position:absolute;
                    left:0;
                    height: 100%;
                    background-color: $blue;
                    transition: width 1s ease;
                }  
            }
            .sass-progress{
                position:relative;
                height: 100%;
                width: 90%;
                .progress{
                    position:absolute;
                    left:0;
                    height: 100%;
                    background-color: $blue;
                    transition: width 1s ease;
                }  
            }
            .webpack-progress{
                position:relative;
                height: 100%;
                width: 50%;
                .progress{
                    position:absolute;
                    left:0;
                    height: 100%;
                    background-color: $blue;
                    transition: width 1s ease;
                }  
            }
            .github-progress{
                position:relative;
                height: 100%;
                width: 80%;
                .progress{
                    position:absolute;
                    left:0;
                    height: 100%;
                    background-color: $blue;
                    transition: width 1s ease;
                }  
            }
        }
    }
     
    }
}

// //----------------PORTFOLIO SECTION--------------

.portfolio-section{
    @include flexCenter();
            flex-direction: column;
    .title-sentence{
        width: 90%;
        margin-top: 70px;
        display: flex;
                flex-direction: column;
        h1{
            font-size:$h1Size + 2vw;
            font-family: 'FontBold';
            color: $blue;
                align-self:flex-start;
        }
        h3{
            margin-top:40px;
            font-size: $h3Size;
            text-align: center;
        }
    }

    .project-container{
       padding:30px;
       width: 100vw;
       max-width: 100vw;
       margin: 0 auto;
       margin-top: 40px;

       display:grid;
       grid-gap: 10px;
       grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        .project{
            transform: scale(0.01,0.01) rotate(90deg);
            -webkit-transform: scale(0.01,0.01) rotate(90deg);
            -ms-transform: scale(0.01,0.01) rotate(90deg);
            -moz-transform: scale(0.01,0.01) rotate(90deg);
            transition: transform 1s ease;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            img{
            display:block;
            width: 100%;
            position: relative;
            }  
            .cont-over-img,.cont-over-img-no{
            display:block;
            position:absolute;
            display: flex;
                    justify-content: center;
                    align-items: center;
            top:0;
            bottom:0;
            left:0px;
            width:100%;
            height: 100%;
            
            background:rgba(0, 0, 0, 0.596);
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
              div{
                position: relative;
                display: flex;
                        justify-content: center;
                        align-items: center;
                height:20%;
                width: 60%;
                border-bottom: 2px solid $blue;
                background:transparent;
                 h3{
                color:$white;
                }
              }
            }
        } 
        .show-project{
        transform: scale(1,1) rotate(0deg);
        -webkit-transform: scale(1,1) rotate(0deg);
        -ms-transform: scale(1,1) rotate(0deg);
        -moz-transform: scale(1,1) rotate(0deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        }
    }
}

.remove-transp-background{
            background:rgba(15, 15, 15, 0.342) !important;
            backdrop-filter: blur(0px) !important;
            -webkit-backdrop-filter: blur(0px) !important;
            transition: all 2s linear;
            div{
                display:none !important;
                h3{
                display: none;
                }
            } 
}


//---------FOOTER--------------

footer{
    background:rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid $white;
    height: auto;
    margin-top: 80px;
    
   display:flex;
   align-items: center;
   flex-direction: column;
   img{
       margin-top: 10%;
       width: 25%;
       height: auto;
    }
    h3{
        margin-top:15%;
        font-size: $h3Size;
        text-align: center;
        width: 90%;
    }
    .container-link-contact{
        margin-top: 27%;
        margin-bottom:20%;
        display:inline-flex;
        justify-content: space-around;
        width: 100%;
        .contact-link{
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            color: $blue;
            font-size: $h3Size; 
            display:inline-flex;
            transition: transform 1s ease;
            margin-left: 100px;
            .fa-forward{
              color: $white;
              margin-top:3px;
              margin-left: 5px;
              font-size: 0.7em;
            }
        }
        .go-on-top {
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            color: $blue;
            font-size: $h3Size; 
            .fa-forward{
               color: $white;
               transform:rotate(-90deg);
               -webkit-transform: rotate(-90deg);
               -ms-transform: rotate(-90deg);
               -moz-transform: rotate(-90deg);
            }
        } 
    }
    
}

//---------------MEDIA QUERRY---------------------

@media screen and (max-height: 428px){
    header {
        height:18vh;
    }
}

@media screen and (min-width: 500px){
 
    .nav-link-container{
            a{
                font-size:4.5vw; 
            }           
        }  

    main{
        height: 1150px;
        .home {
            .title {
               h1{
                font-size: $h1Tsize;
               }
               a{
                font-size: $h3Tsize;
               }
            }
        }
        img{
            width: 50vw;
            height: 50vw;
        }
    }
    
    .hard-skill {
        .title-sentence {
            h1{
            font-size: $h1Tsize + 1vw;
            }
        
            h3{
            font-size: $h3Tsize;
            }
        }
        .skill-container{
            width: 80%;
            h3{
                font-size: $h3Tsize;
            }
            .list{
                font-size: $h4Tsize;
            }
        }
    }
    .portfolio-section {
        margin-top: 80px;
        .title-sentence {
            h1{
            font-size: $h1Tsize +1vw;
            }
        
            h3{
            margin-top: 80px;
            font-size: $h3Tsize;
            }
        }
        .project-container{
            margin-top: 80px;
            grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        }
    }

    footer{
        margin-top: 80px;
        img{
        width: 16%;
        }
        h3{
            margin-top: 16%;
            font-size: $h3Tsize;
            width:80%;
        }
        .container-link-contact{
          margin-top: 20%;
          .contact-link{
              font-size: $h3Tsize; 
              display:inline-flex;
              .fa-forward{
                color: $white;
                margin-top:4px;
                margin-left: 10px;
                font-size: 0.7em;
              }
          }
          .go-on-top {
            font-size: $h3Tsize; 
          } 
        }
    }
}



@media  screen and (min-width: 1025px){
    header{
      display:none;
    }
    
    main{
        height: 100vh;
        .home {
            border: 1px solid $white;
            height: 85%;
            width: 90%;
            margin-top:0%;
            background:rgba(15, 15, 15, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            .laptopHeader{
                display:block;
                height:50px;
                width: 100%;
                position:relative;
                ul{
                    display:inline-flex;
                    position:absolute;
                    right:2em;
                    text-decoration: none;
                    list-style: none;
                    height: 100%;
                    display: flex;
                    
                    li{
                        margin: 0.5em;
                        margin-left:2em;
                         a{
                            text-decoration: none;
                            color: $white;
                            font-size: 30px;
                            -webkit-tap-highlight-color: rgba(0,0,0,0);
                            &:hover{
                                transition: all .3s linear;
                                color:$blue;
                            }
                        }
                    }
                }
                img{
                    position: absolute;
                    top:-40px;
                    left: -40px;
                    width:auto ;
                    height:180%;
                }
            }
            .title {
                top:10% ;
                h1{
                  font-size: 50px;
                  margin-left: 9%;
                }
                a{
                  font-size: 30px;
                  margin-top:70px;
                  margin-left:250px;
                }
            }
        }
        img{
            width: 58vh;
            height: 58vh;
        }
    }
    .hard-skill {
        .title-sentence {
            margin-top:100px;
            width: 80%;
            h1{
            font-size: 60px;
            }
        
            h3{
            font-size: 27px;
            width: 47%;
            }
        }
        .skill-container{
            margin-top:140px;
            width: 35%;
           h3{
                font-size: 30px;
            }
            .list{
                font-size:22px;
            }
        } 
        .skill-1{
        align-self: flex-end;
        margin-bottom:-300px;
        margin-right: 150px;
        }
       .skill-2{
        align-self: flex-start;
        margin-left: 150px;
        }
    }
    .portfolio-section {
        .title-sentence {
            margin-top:0px;
            width: 80%;
            h1{
            font-size: 60px;
            align-self: flex-end;
            }
        
            h3{
            margin-top: 90px;
            font-size: 27px;
            width: 47%;
            
            }
        }
        .project-container{
            max-width: 1200px;
            margin-top: 100px;
        }
    }

    footer{
        margin-top: 80px;
        img{
            margin-top: 5%;
            width: 10%;
            }
        h3{
            margin-top: 5%;
            font-size: 30px;
            width: 50%;
        }
        .container-link-contact{
            margin-top: 8%;
            margin-bottom:5%;
            .contact-link{
                font-size: 40px; 
                display:inline-flex;
                .fa-forward{
                  color: $white;
                  margin-top:4px;
                  margin-left: 15px;
                  font-size: 0.7em;
                }
            }
            .go-on-top {
              font-size: 50px; 
            } 
        }
        
    }
}
  

//---------------------------------------------
// //loader
// #loaderContainer {
//     width: 100vw;
//     height:100vh;
//     display: flex;
//     align-items:center;
//     justify-content: center;
//     .loader{
//         width: 100px;
//         height: 250px;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         transform: rotate(180deg);
//         span{
//             height: 100%;
//             width: 1px;
//             background-color: $white;
//             animation: elasticus1 2s cubic-bezier(1, 0, 0, 1) infinite;
//         }
//         .span1{
//             margin-top: 50px;
//         }
//         .span3{
//             margin-top: -50px;
//         }
//     }

//   }

// @keyframes elasticus1 {
//     0% {
//         transform-origin: 0% 0%;
//         transform: scale(1, 0);
//     }
//     50% {
//         transform-origin: 0% 0%;
//         transform: scale(1, 1);
//     }
//     50.1% {
//         transform-origin: 0% -100%;
//         transform: scale(1, 1);
//     }
//     100% {
//         transform-origin: 0% 100%;
//         transform: scale(1, 0);
//     }
// }

