@font-face {
  font-family: "Font";
  src: url("../../assets/font/Gayathri-Thin.ttf");
}
@font-face {
  font-family: "FontBold";
  src: url("../../assets/font/Gayathri-Regular.ttf");
}
::-webkit-scrollbar {
  width: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html body {
  background-color: #010101;
  color: #FFFFFF;
  max-width: 100vw;
  font-family: "Font";
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  background: #0101014d;
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  height: 9vh;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.8s linear;
  z-index: 2;
}
header #navMenu {
  position: fixed;
  top: 2.5vh;
  right: 15px;
  transform: rotate(180deg);
}
header #navMenu .span1,
header #navMenu .span2,
header #navMenu .span3 {
  display: block;
  width: 36px;
  height: 4px;
  background-color: #FFFFFF;
  transition: all 0.4s ease-in-out;
}
header #navMenu .span1:not(:last-child),
header #navMenu .span2:not(:last-child),
header #navMenu .span3:not(:last-child) {
  margin-bottom: 8px;
}
header #navMenu .span1 {
  width: 16px;
}
header #navMenu .span2 {
  width: 32px;
}
header #navMenu .span3 {
  width: 48px;
}
header #navMenu.active .span2 {
  width: 0;
}
header #navMenu.active .span1 {
  transform: translateY(12px) rotate(45deg);
  width: 42px;
}
header #navMenu.active .span3 {
  transform: translateY(-12px) rotate(-45deg);
  width: 42px;
}
header img {
  position: fixed;
  top: 1vh;
  left: 10px;
  width: 50px;
}
header .nav-link-container {
  margin-top: -900px;
  transition: all 0.8s ease-out;
  text-align: center;
  overflow-y: auto;
  font-family: "FontBold";
}
header .nav-link-container li {
  list-style: none;
  margin: 3em;
}
header .nav-link-container li a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header .nav-link-container li a:hover {
  transition: all 0.8s linear;
  color: #38B6FF;
}

.menu-container {
  position: fixed;
  top: 0 !important;
  background-color: #010101;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  position: relative;
  font-family: "FontBold";
}
main .home {
  height: 90%;
  width: 95%;
  position: relative;
}
main .home .title {
  position: relative;
  top: 18%;
  width: auto;
}
main .home .title h1 {
  font-size: 9vw;
}
main .home .title h1:nth-child(1) {
  margin-bottom: -4px;
}
main .home .title h1:nth-child(1) .hello {
  color: #38B6FF;
  font-size: 1.6em;
}
main .home .title h1:nth-child(2) {
  margin-bottom: 4px;
}
main .home .title h1:nth-child(3) {
  margin-bottom: 45px;
}
main .home .title a {
  text-decoration: none;
  color: #38B6FF;
  font-size: 5vw;
  display: inline-flex;
}
main .home .title a .fa-forward {
  color: #FFFFFF;
  margin-top: 3px;
  margin-left: 11px;
  font-size: 0.7em;
}
main .home .laptopHeader {
  display: none;
}
main img {
  position: absolute;
  width: 60vw;
  height: 60vw;
  bottom: 0;
  right: 0;
}

.hard-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hard-skill .title-sentence {
  width: 90%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.hard-skill .title-sentence h1 {
  font-size: 11vw;
  font-family: "FontBold";
  color: #38B6FF;
  align-self: flex-end;
}
.hard-skill .title-sentence h3 {
  margin-top: 40px;
  font-size: 5vw;
  text-align: center;
}
.hard-skill .skill-container {
  background: rgba(15, 15, 15, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: auto;
  width: 95%;
  margin-top: 60px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.hard-skill .skill-container h3 {
  font-size: 5vw;
  margin-top: 60px;
  margin-left: 5px;
}
.hard-skill .skill-container h3 span {
  color: #38B6FF;
  margin-right: 10px;
  margin-left: 15px;
}
.hard-skill .skill-container .list {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  font-size: 4vw;
}
.hard-skill .skill-container .list .progress-bar {
  width: 100%;
  height: 6px;
  margin-top: 5px;
  border-right: 1px solid #38B6FF;
  border-bottom: 1px solid #38B6FF;
}
.hard-skill .skill-container .list .progress-bar .html-progress {
  position: relative;
  height: 100%;
  width: 90%;
}
.hard-skill .skill-container .list .progress-bar .html-progress .progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #38B6FF;
  transition: width 1s ease;
}
.hard-skill .skill-container .list .progress-bar .css-progress {
  position: relative;
  height: 100%;
  width: 80%;
}
.hard-skill .skill-container .list .progress-bar .css-progress .progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #38B6FF;
  transition: width 1s ease;
}
.hard-skill .skill-container .list .progress-bar .js-progress {
  position: relative;
  height: 100%;
  width: 75%;
}
.hard-skill .skill-container .list .progress-bar .js-progress .progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #38B6FF;
  transition: width 1s ease;
}
.hard-skill .skill-container .list .progress-bar .react-progress {
  position: relative;
  height: 100%;
  width: 40%;
}
.hard-skill .skill-container .list .progress-bar .react-progress .progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #38B6FF;
  transition: width 1s ease;
}
.hard-skill .skill-container .list .progress-bar .bootstrap-progress {
  position: relative;
  height: 100%;
  width: 70%;
}
.hard-skill .skill-container .list .progress-bar .bootstrap-progress .progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #38B6FF;
  transition: width 1s ease;
}
.hard-skill .skill-container .list .progress-bar .sass-progress {
  position: relative;
  height: 100%;
  width: 80%;
}
.hard-skill .skill-container .list .progress-bar .sass-progress .progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #38B6FF;
  transition: width 1s ease;
}
.hard-skill .skill-container .list .progress-bar .webpack-progress {
  position: relative;
  height: 100%;
  width: 40%;
}
.hard-skill .skill-container .list .progress-bar .webpack-progress .progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #38B6FF;
  transition: width 1s ease;
}
.hard-skill .skill-container .list .progress-bar .github-progress {
  position: relative;
  height: 100%;
  width: 70%;
}
.hard-skill .skill-container .list .progress-bar .github-progress .progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #38B6FF;
  transition: width 1s ease;
}

.portfolio-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portfolio-section .title-sentence {
  width: 90%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.portfolio-section .title-sentence h1 {
  font-size: 11vw;
  font-family: "FontBold";
  color: #38B6FF;
  align-self: flex-end;
}
.portfolio-section .title-sentence h3 {
  margin-top: 40px;
  font-size: 5vw;
  text-align: center;
}
.portfolio-section .project-container {
  padding: 20px;
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  margin-top: 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.portfolio-section .project-container .project {
  position: relative;
  transform: translateX(-400%);
  transition: transform 0.6s ease;
}
.portfolio-section .project-container .project img {
  width: 100%;
}
.portfolio-section .project-container .project .cont-over-img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 1s linear;
}
.portfolio-section .project-container .show-project {
  transform: translateX(0);
}

.transp-background {
  background: rgba(15, 15, 15, 0.692);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media screen and (max-height: 428px) {
  header {
    height: 13vh;
  }
}
@media screen and (min-width: 500px) {
  .nav-link-container a {
    font-size: 4.5vw;
  }

  main {
    height: 1150px;
  }
  main .home .title h1 {
    font-size: 8vw;
  }
  main .home .title a {
    font-size: 4vw;
  }
  main img {
    width: 50vw;
    height: 50vw;
  }

  .hard-skill .title-sentence h1 {
    font-size: 9vw;
  }
  .hard-skill .title-sentence h3 {
    font-size: 4vw;
  }
  .hard-skill .skill-container {
    width: 80%;
  }
  .hard-skill .skill-container h3 {
    font-size: 4vw;
  }
  .hard-skill .skill-container .list {
    font-size: 3vw;
  }

  .portfolio-section {
    margin-top: 80px;
  }
  .portfolio-section .title-sentence h1 {
    font-size: 9vw;
  }
  .portfolio-section .title-sentence h3 {
    margin-top: 80px;
    font-size: 4vw;
  }
  .portfolio-section .project-container {
    margin-top: 80px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
@media screen and (min-width: 1025px) {
  header {
    display: none;
  }

  main {
    height: 100vh;
  }
  main .home {
    border: 1px solid #FFFFFF;
    height: 85%;
    width: 90%;
    margin-top: 0%;
    background: rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  main .home .laptopHeader {
    display: block;
    height: 50px;
    width: 100%;
    position: relative;
  }
  main .home .laptopHeader ul {
    display: inline-flex;
    position: absolute;
    right: 2em;
    text-decoration: none;
    list-style: none;
    height: 100%;
    display: flex;
  }
  main .home .laptopHeader ul li {
    margin: 0.5em;
    margin-left: 2em;
  }
  main .home .laptopHeader ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  main .home .laptopHeader ul li a:hover {
    transition: all 0.8s linear;
    color: #38B6FF;
  }
  main .home .laptopHeader img {
    position: absolute;
    top: -40px;
    left: -40px;
    width: auto;
    height: 180%;
  }
  main .home .title {
    top: 10%;
  }
  main .home .title h1 {
    font-size: 50px;
    margin-left: 5%;
  }
  main .home .title a {
    font-size: 30px;
    margin-top: 70px;
    margin-left: 250px;
  }
  main img {
    width: 55vh;
    height: 55vh;
  }

  .hard-skill .title-sentence {
    margin-top: 100px;
    width: 80%;
  }
  .hard-skill .title-sentence h1 {
    font-size: 70px;
  }
  .hard-skill .title-sentence h3 {
    font-size: 30px;
    width: 50%;
  }
  .hard-skill .skill-container {
    margin-top: 100px;
    width: 35%;
  }
  .hard-skill .skill-container h3 {
    font-size: 30px;
  }
  .hard-skill .skill-container .list {
    font-size: 22px;
  }
  .hard-skill .skill-1 {
    align-self: flex-end;
    margin-bottom: -300px;
    margin-right: 150px;
  }
  .hard-skill .skill-2 {
    align-self: flex-start;
    margin-left: 150px;
  }

  .portfolio-section .title-sentence {
    margin-top: 100px;
    width: 80%;
  }
  .portfolio-section .title-sentence h1 {
    font-size: 70px;
  }
  .portfolio-section .title-sentence h3 {
    font-size: 28px;
    width: 50%;
  }
  .portfolio-section .project-container {
    max-width: 1200px;
    margin-top: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
