/* screen XS___________________________________________________________________________________*/
.background-xs-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  position: fixed;
  z-index: -1;
  bottom: 90vh;
  left: 20px;
  border: 0.6px solid #3E3E3E;
  border-radius: 6px;
  background-color: #010101;
  animation: floating-XS linear 90s infinite;
}
.background-xs-screen1 .background-xs-screen2 {
  height: 36px;
  width: 96px;
  border: 0.3px solid #3E3E3E;
  border-radius: 5px;
}

@keyframes floating-XS {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  20% {
    transform: translate(120px, 130px) rotate(72deg);
  }
  40% {
    transform: translate(0px, 250px) rotate(144deg);
  }
  60% {
    transform: translate(-120px, 150px) rotate(216deg);
  }
  80% {
    transform: translate(-40px, -50px) rotate(288deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
  }
}
/*Sreen S___________________________________________________________________________________*/
.background-s-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 130px;
  position: fixed;
  z-index: -1;
  bottom: 95vh;
  right: 5%;
  border: 0.8px solid #3E3E3E;
  border-radius: 6px;
  background-color: #010101;
  animation: floating-S linear 90s infinite;
  transform: rotate(120deg);
}
.background-s-screen1 .background-s-screen2 {
  height: 54px;
  width: 124px;
  border: 0.5px solid #3E3E3E;
  border-radius: 5px;
}

@keyframes floating-S {
  0% {
    transform: translate(0%, 0%) rotate(120deg);
  }
  20% {
    transform: translate(50px, 80px) rotate(192deg);
  }
  40% {
    transform: translate(0px, 290px) rotate(264deg);
  }
  60% {
    transform: translate(100px, 120px) rotate(336deg);
  }
  80% {
    transform: translate(-40px, 0px) rotate(408deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(480deg);
  }
}
/*Sreen M___________________________________________________________________________________*/
.background-m-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 190px;
  position: fixed;
  z-index: -1;
  bottom: 60vh;
  right: 20%;
  border: 1.5px solid #3E3E3E;
  border-radius: 8px;
  background-color: #010101;
  animation: floating-M linear 90s infinite;
  transform: rotate(-160deg);
}
.background-m-screen1 .background-m-screen2 {
  height: 99px;
  width: 179px;
  border: 0.8px solid #3E3E3E;
  border-radius: 6px;
}

@keyframes floating-M {
  0% {
    transform: translate(0px, 0px) rotate(-160deg);
  }
  20% {
    transform: translate(100px, 50px) rotate(-232deg);
  }
  40% {
    transform: translate(100px, -200px) rotate(-304deg);
  }
  60% {
    transform: translate(-80px, -100px) rotate(-376deg);
  }
  80% {
    transform: translate(-140px, -30px) rotate(-448deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-520deg);
  }
}
/*Sreen L___________________________________________________________________________________*/
.background-l-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 280px;
  position: fixed;
  z-index: -1;
  bottom: 15vh;
  left: 3%;
  background-color: #010101;
  border: 1.8px solid #3E3E3E;
  border-radius: 10px;
  animation: floating-L linear 90s infinite;
  transform: rotate(-60deg);
}
.background-l-screen1 .background-l-screen2 {
  height: 126px;
  width: 266px;
  border: 1px solid #3E3E3E;
  border-radius: 8px;
}

@keyframes floating-L {
  0% {
    transform: translate(0%, 0%) rotate(-60deg);
  }
  20% {
    transform: translate(-150px, -80px) rotate(-100deg);
  }
  40% {
    transform: translate(0px, -200px) rotate(-139deg);
  }
  60% {
    transform: translate(40px, -100px) rotate(-150deg);
  }
  80% {
    transform: translate(40px, 80px) rotate(-108deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-60deg);
  }
}
/*Sreen XL___________________________________________________________________________________*/
.background-xl-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 240px;
  position: fixed;
  z-index: -1;
  bottom: 0%;
  right: -100px;
  background-color: #010101;
  border: 1.8px solid #3E3E3E;
  border-radius: 15px;
  animation: floating-XL linear 90s infinite;
  transform: rotate(20deg);
}
.background-xl-screen1 .background-xl-screen2 {
  height: 164px;
  width: 224px;
  border: 1px solid #3E3E3E;
  border-radius: 12px;
}

@keyframes floating-XL {
  0% {
    transform: translate(0%, 0%) rotate(20deg);
  }
  20% {
    transform: translate(-160px, 10px) rotate(56deg);
  }
  40% {
    transform: translate(-90px, -230px) rotate(92deg);
  }
  60% {
    transform: translate(-20px, -190px) rotate(128deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(200deg);
  }
}
/* Media Query for LOW resolution TABLETS, Ipads */
@media screen and (min-width: 540px) and (max-width: 767px) {
  /* screen XS_________________________________________*/
  .background-xs-screen1 {
    height: 48px;
    width: 120px;
    border-radius: 6px;
  }
  .background-xs-screen1 .background-xs-screen2 {
    height: 44px;
    width: 116px;
    border-radius: 5px;
  }

  /*Sreen S____________________________________________*/
  .background-s-screen1 {
    height: 72px;
    width: 156px;
    position: fixed;
    border-radius: 7px;
  }
  .background-s-screen1 .background-s-screen2 {
    height: 66px;
    width: 150px;
    border-radius: 6px;
  }

  /*Sreen M_____________________________________________*/
  .background-m-screen1 {
    height: 132px;
    width: 228px;
    border-radius: 10px;
  }
  .background-m-screen1 .background-m-screen2 {
    height: 121px;
    width: 217px;
    border-radius: 8px;
  }

  /*Sreen L_______________________________________________*/
  .background-l-screen1 {
    height: 168px;
    width: 336px;
    border-radius: 12px;
  }
  .background-l-screen1 .background-l-screen2 {
    height: 154px;
    width: 322px;
    border-radius: 10px;
  }

  /*Sreen XL_______________________________________________*/
  .background-xl-screen1 {
    height: 216px;
    width: 288px;
    border-radius: 17px;
  }
  .background-xl-screen1 .background-xl-screen2 {
    height: 200px;
    width: 272px;
    border-radius: 14px;
  }
}
/* Media Query for TABLETS Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 980px), (min-width: 1400px) {
  /* screen XS_________________________________________*/
  .background-xs-screen1 {
    height: 72px;
    width: 180px;
    border-radius: 6px;
  }
  .background-xs-screen1 .background-xs-screen2 {
    height: 68px;
    width: 176px;
    border-radius: 5px;
  }

  /*Sreen S____________________________________________*/
  .background-s-screen1 {
    height: 108px;
    width: 234px;
    position: fixed;
    border-radius: 7px;
  }
  .background-s-screen1 .background-s-screen2 {
    height: 102px;
    width: 228px;
    border-radius: 6px;
  }

  /*Sreen M_____________________________________________*/
  .background-m-screen1 {
    height: 198px;
    width: 342px;
    border-radius: 10px;
  }
  .background-m-screen1 .background-m-screen2 {
    height: 187px;
    width: 331px;
    border-radius: 8px;
  }

  /*Sreen L_______________________________________________*/
  .background-l-screen1 {
    height: 252px;
    width: 504px;
    border-radius: 12px;
  }
  .background-l-screen1 .background-l-screen2 {
    height: 238px;
    width: 490px;
    border-radius: 10px;
  }

  /*Sreen XL_______________________________________________*/
  .background-xl-screen1 {
    height: 324px;
    width: 432px;
    border-radius: 17px;
  }
  .background-xl-screen1 .background-xl-screen2 {
    height: 308px;
    width: 416px;
    border-radius: 14px;
  }
}
/* Media Query for Laptops and Desktops */
@media (min-width: 980px) and (max-width: 1400px) {
  /* screen XS_________________________________________*/
  .background-xs-screen1 {
    top: 40px;
    left: 100px;
    height: 64px;
    width: 160px;
    border-radius: 6px;
  }
  .background-xs-screen1 .background-xs-screen2 {
    height: 60px;
    width: 156px;
    border-radius: 5px;
  }

  /*Sreen S____________________________________________*/
  .background-s-screen1 {
    top: 50px;
    right: 150px;
    height: 96px;
    width: 208px;
    border-radius: 7px;
  }
  .background-s-screen1 .background-s-screen2 {
    height: 90px;
    width: 202px;
    border-radius: 6px;
  }

  /*Sreen M_____________________________________________*/
  .background-m-screen1 {
    top: 20%;
    right: 35%;
    height: 176px;
    width: 304px;
    border-radius: 10px;
  }
  .background-m-screen1 .background-m-screen2 {
    height: 165px;
    width: 293px;
    border-radius: 8px;
  }

  /*Sreen L_______________________________________________*/
  .background-l-screen1 {
    bottom: 15%;
    left: 8%;
    height: 224px;
    width: 448px;
    border-radius: 12px;
  }
  .background-l-screen1 .background-l-screen2 {
    height: 210px;
    width: 434px;
    border-radius: 10px;
  }

  /*Sreen XL_______________________________________________*/
  .background-xl-screen1 {
    bottom: 0%;
    right: 0px;
    height: 288px;
    width: 384px;
    border-radius: 17px;
  }
  .background-xl-screen1 .background-xl-screen2 {
    height: 272px;
    width: 368px;
    border-radius: 14px;
  }
}
@media screen and (max-height: 414px) {
  .background-xs-screen1 {
    height: 40px;
    width: 100px;
  }
  .background-xs-screen1 .background-xs-screen2 {
    height: 36px;
    width: 96px;
  }

  /*Sreen S___________________________________________________________________________________*/
  .background-s-screen1 {
    height: 60px;
    width: 130px;
  }
  .background-s-screen1 .background-s-screen2 {
    height: 54px;
    width: 124px;
  }

  /*Sreen M___________________________________________________________________________________*/
  .background-m-screen1 {
    height: 110px;
    width: 190px;
  }
  .background-m-screen1 .background-m-screen2 {
    height: 99px;
    width: 179px;
  }

  /*Sreen L___________________________________________________________________________________*/
  .background-l-screen1 {
    height: 140px;
    width: 280px;
  }
  .background-l-screen1 .background-l-screen2 {
    height: 126px;
    width: 266px;
  }

  /*Sreen XL___________________________________________________________________________________*/
  .background-xl-screen1 {
    height: 180px;
    width: 240px;
  }
  .background-xl-screen1 .background-xl-screen2 {
    height: 164px;
    width: 224px;
  }
}

/*# sourceMappingURL=style.css.map */
