$black: #010101;
$white: #FFFFFF;
$grey: #3E3E3E;
$blue:#38B6FF;

//------------------------------^

// FONT SIZE
$h1Size:9vw;
$h2Size:6vw;
$h3Size:5vw;
$h4Size:4vw;
//tablet
$h1Tsize:8vw;
$h2Tsize:5vw;
$h3Tsize:4vw;
$h4Tsize:3vw;
//------------------------------^


main{
    height: 100vh;
}
.main-information{
    margin-top:25%;
    display:flex;
    flex-direction: column;
    width: auto;
    h1{
        color: $blue;
        font-size: $h1Size;

    }
    h2{
        font-size:$h2Size;
        margin-top: 20px;
    }
    .link{
        margin-top: 40px;
        display: inline-flex;
        justify-content: space-around;
       a{
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        color: $blue;
        font-size: $h3Size; 
        .fa-forward{
          color: $white;
          margin-top:3px;
          margin-left: 11px;
          font-size: 0.7em;
        }
      } 
    }
}
.technologies-container{
    background:rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height:auto;
    width: 95%;
    margin: 0 auto;
    margin-top: 60px;
    border-top:1px solid $white;
    border-bottom: 1px solid $white;
    padding: 30px 0 30px 0 ;
    
    h2{
        font-size: $h2Size;
        span{
            color: $blue;
            margin-right: 10px;
        }
    }
    .tecnologies{
        text-align: center;
        margin-top: 30px;
        h3{
            margin: 1em;
            font-size: $h3Size;
        }
    }
}
@media screen and (max-height: 428px){

}
@media screen and (min-width: 500px){
    .main-information{
        margin-top:13%;
        h1{
            color: $blue;
            font-size: $h1Tsize;
        }
        h2{
            font-size:$h2Tsize;
            margin-top: 10px;
        }
        .link{
            margin-top: 80px;
           a{
            font-size: $h3Tsize; 
           } 
        }
    }
}
.technologies-container{
    padding: 40px 0 40px;
    h2{
        font-size: $h2Tsize;
    }
    .tecnologies{
        margin-top: 50px;
        h3{
            margin: 1em;
            font-size: $h3Tsize;
        }
}
}
@media  screen and (min-width: 1025px){
    main > .home{
        border:none !important;
        background:none !important;
        backdrop-filter: none !important;
    }
    .main-information{
        margin:7%;
        width: 40vw;
        h1{
            color: $blue;
            font-size: 50px;
        }
        h2{
            font-size:35px;
            margin-top: 10px;
        }
        .link{
            margin-top: 60px;
           a{
            font-size: 25px; 
           } 
        }
    }
    .technologies-container{
        margin-left: 60vw;
        margin-top:-30vh;
        padding: 40px 0 40px;
        width: 30vw;
        h2{
            font-size: 25px;
        }
        .tecnologies{
            margin-top: 50px;
            h3{
                margin: 1em;
                font-size: 20px;
            }
        }
}
}