@font-face {
  font-family: "Font";
  src: url("../../assets/font/Gayathri-Thin.woff2");
}
@font-face {
  font-family: "FontBold";
  src: url("../../assets/font/Gayathri-Regular.woff2");
}
main {
  height: 100vh !important;
  max-width: 2500px;
}

.home {
  background: none !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 14%;
  color: #FFFFFF;
  height: 90%;
}
.content h1 {
  font-size: 9vw;
  transform: translateX(-120%);
  -webkit-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  -moz-transform: translateX(-120%);
  transition: all 0.8s ease;
}
.content .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 2em;
  width: 90vw;
  padding: 20px;
  background: rgba(15, 15, 15, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: scale(0.01, 0.01);
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  -moz-transform: scale(0.01, 0.01);
  transition: transform 0.8s ease;
}
.content .form-container label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.2em;
  margin-left: 0px;
}
.content .form-container label p {
  font-size: 4vw;
  color: #919191;
}
.content .form-container label input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #919191;
  color: #FFFFFF;
}
.content .form-container label input:focus {
  outline: none;
}
.content .form-container label input:-webkit-autofill, .content .form-container label input:-webkit-autofill:hover, .content .form-container label input:-webkit-autofill:focus, .content .form-container label input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #010101 inset !important;
  box-shadow: 0 0 0 30px #010101 inset !important;
  -webkit-text-fill-color: #FFFFFF !important;
}
.content .form-container button {
  align-self: center;
  border: none;
  background-color: transparent;
  color: #38B6FF;
  margin: 1.2em;
}
.content .form-container button h2 {
  font-size: 6vw;
}
.content .form-container button h2:hover {
  color: #FFFFFF;
  transition: color 1s ease;
}
.content .form-container button h2:active {
  color: #FFFFFF;
}
.content .form-container button .fa-forward {
  color: #FFFFFF;
  margin-top: 3px;
  margin-left: 11px;
  font-size: 0.8em;
}
.content .social-link {
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 9vw;
  margin-bottom: 5px;
}
.content .social-link a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.content .social-link a:hover {
  color: #38B6FF;
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
}

.thanks-user {
  display: none;
  position: absolute;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #010101;
  transition: all 1s ease;
}
.thanks-user h1 {
  text-align: center;
}

@media screen and (max-height: 428px) {
  .content {
    margin-top: 8%;
  }

  .form-container {
    height: auto !important;
  }
  .form-container label, .form-container button {
    margin: 1em;
  }
}
@media screen and (min-width: 500px) {
  .content {
    margin-top: 12%;
  }
  .content h1 {
    font-size: 8vw;
  }
  .content .form-container {
    width: 85vw;
  }
  .content .form-container label {
    margin: 2em 0 2em 0;
  }
  .content .form-container label p {
    font-size: 3vw;
  }
  .content .form-container label input {
    font-size: 20px;
  }
  .content .form-container button {
    margin: 2em;
  }
  .content .form-container button h2 {
    font-size: 5vw;
  }
  .content .social-link {
    font-size: 6.5vw;
    margin: 0.7em;
  }
}
@media screen and (min-width: 1025px) {
  .home {
    background: rgba(15, 15, 15, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
  }

  .content {
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    color: #FFFFFF;
    height: 97%;
    width: 103%;
  }
  .content h1 {
    font-size: 100px;
    align-self: flex-start;
    width: 30%;
    margin-left: 7%;
  }
  .content .form-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0em;
    width: 60%;
    height: 70vh;
    background: #010101;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid #FFFFFF;
  }
  .content .form-container label {
    margin: 0em;
  }
  .content .form-container label p {
    font-size: 20px;
  }
  .content .form-container label input {
    font-size: 20px;
  }
  .content .form-container button h2 {
    font-size: 30px;
  }
  .content .social-link {
    width: 30%;
    align-self: flex-start;
    font-size: 40px;
    margin-bottom: 5%;
    margin-left: 3%;
  }
}

/*# sourceMappingURL=style.css.map */
