// COLOR

$black: #010101;
$white: #FFFFFF;
$grey: #3E3E3E;

//------------------------------^

// Mixin flex center

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
  }

//------------------------------^
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $black;
    color:$white;
    height: 150vh;
    max-width: 100vw;
}



.header{
    background:#0101013b ;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    height: 8vh;
    width: 100%;
    position: fixed;
    top:0;
}

