$white: #FFFFFF;

#wrapper {
    position: absolute;
    width:auto;
    height:220px;
    bottom:30px;
    left:-20px;
  }

  #scroll-down {
      display: block;
      position: relative;
      padding-top: 79px;
      text-align:center;
  }

  #scroll-title {
      display: block;
      font-size:17px;
      font-weight:bold;
      letter-spacing:.1em;
      transform: rotate(90deg);
      margin-left:40px;
      margin-top: 20px;
      color: $white;
  }
  #scroll-down::before {  
      animation: elasticus 3.7 cubic-bezier(1, 0, 0, 1) infinite;
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 380px;
      background-color: $white;
      content: ' ';
  }
  @keyframes elasticus {
      0% {
          transform-origin: 0% 0%;
          transform: scale(1, 0);
      }
      50% {
          transform-origin: 0% 0%;
          transform: scale(1, 1);
      }
      50.1% {
          transform-origin: 0% 100%;
          transform: scale(1, 1);
      }
      100% {
          transform-origin: 0% 100%;
          transform: scale(1, 0);
      }
  }

  @media screen and (min-width: 500px){
    #scroll-title {
        font-size:3vw;
        margin-left:60px;
        margin-top:0;
    }
    #wrapper {
        left:0px;
      }
  }
  @media  screen and (min-width: 1024px){
      #wrapper{
          bottom: 0px;
      }
      #scroll-title {
        font-size:25px;
    }
  }
 