$black: #010101;
$white: #FFFFFF;
$grey: #3E3E3E;
$blue:#38B6FF;

@font-face {
    font-family: 'FontBold';
    src: url('../../assets/font/Gayathri-Regular.woff2');
}

main{
height: auto !important;
}
.about{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    .first-sentence{
        text-align: center;
        width: 85%;
        font-size: 20px;
        font-family: 'FontBold';   
    }
}

.date-and-bio-container1{
    margin-top: 30px;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
   .date-and-bio-container2{
        width: 85%;
        margin: 0 auto;
        h1{
        font-size: 30px;
        text-align: end;
        }
       .bio-container{
        font-size: 19px;
        padding: 20px 0 20px 0;
        text-align: start;
        border-top: 2px solid $white; 
        
        background:rgba(15, 15, 15, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
       }
   }
}

.go-on-top {
    .fa-forward{
       transform:rotate(-180deg) !important;
       -webkit-transform:rotate(-180deg) !important;
       -ms-transform:rotate(-180deg) !important;
       -moz-transform:rotate(-180deg) !important;
    }
} 

//--------------MEDIA QUERRY
@media screen and (max-height: 428px){
    .about{
        margin-top: 25vh;
    }
}
@media screen and (min-width: 500px){
    .about{
        .first-sentence{
            width: 80%;
            font-size: 25px;
        }
    }
    
    .date-and-bio-container1{
        margin-top: 50px;
       .date-and-bio-container2{
            width: 80%;
            h1{
            font-size: 35px;
            }
           .bio-container{
            font-size: 22px;
            padding: 20px 0 20px 0;
           }
       }
    }  
}

@media  screen and (min-width: 1025px){
    main{
        height: 100vh !important;
    }
    .home{
        background:rgba(15, 15, 15, 0) !important;
        backdrop-filter: blur(0px) !important;
        -webkit-backdrop-filter: blur(0px) !important;
    }
    .about{
        margin-top: -80vh;
        .first-sentence{
            text-align: start;
            width: 25%;
            font-size: 29px;
            align-self: flex-start;
            margin-left: 13%;
            margin-top:30px;
        }
    }
    
    .date-and-bio-container1{
        border: 2px solid $white;        
        background-color: $black;
        width:53%;
        padding: 80px 0 80px 0;
        z-index: 10;
        &:nth-child(2){
            align-self: flex-end;
            margin-top: -50px;
            border-right: none;
        }
        &:nth-child(3){
            align-self: flex-start;
            margin-top: -300px;
            border-left: none;
        }
        &:nth-child(4){
            align-self: flex-end;
            margin-top: -80px;
            border-right: none;
        }
        &:nth-child(5){
            align-self: flex-start;
            margin-top: -340px;
            border-left: none;
        }
       .date-and-bio-container2{
            // border: 1px solid yellow;
            width: 60%;
            margin: 0 auto;
            h1{
            font-size: 40px;
            text-align: end;
            }
           .bio-container{
            // border:1px solid purple;
            font-size: 23px;
            padding: 20px 0 20px 0;
            text-align: start;
            border-top: 2px solid $white;
            
            background:rgba(15, 15, 15, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
           }
       }
    }
    
    .go-on-top {
        .fa-forward{
           transform:rotate(-180deg) !important;
           -webkit-transform:rotate(-180deg) !important;
           -ms-transform:rotate(-180deg) !important;
           -moz-transform:rotate(-180deg) !important;
        }
    } 
}