* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* screen XS___________________________________________________________________________________*/
.background-xs-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  position: fixed;
  z-index: -1;
  top: 10px;
  left: 20px;
  border: 0.6px solid #3E3E3E;
  border-radius: 6px;
  background-color: #010101;
  animation: floating-XS linear 60s infinite;
}
.background-xs-screen1 .background-xs-screen2 {
  height: 36px;
  width: 96px;
  border: 0.3px solid #3E3E3E;
  border-radius: 5px;
}

@keyframes floating-XS {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  20% {
    transform: translate(120px, 130px) rotate(72deg);
  }
  40% {
    transform: translate(0px, 250px) rotate(144deg);
  }
  60% {
    transform: translate(-120px, 150px) rotate(216deg);
  }
  80% {
    transform: translate(-40px, -50px) rotate(288deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
  }
}
/*Sreen S___________________________________________________________________________________*/
.background-s-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 130px;
  position: fixed;
  z-index: -1;
  top: 5%;
  right: 5%;
  border: 0.8px solid #3E3E3E;
  border-radius: 6px;
  background-color: #010101;
  animation: floating-S linear 60s infinite;
  transform: rotate(120deg);
}
.background-s-screen1 .background-s-screen2 {
  height: 54px;
  width: 124px;
  border: 0.5px solid #3E3E3E;
  border-radius: 5px;
}

@keyframes floating-S {
  0% {
    transform: translate(0%, 0%) rotate(120deg);
  }
  20% {
    transform: translate(50px, 80px) rotate(192deg);
  }
  40% {
    transform: translate(0px, 290px) rotate(264deg);
  }
  60% {
    transform: translate(100px, 120px) rotate(336deg);
  }
  80% {
    transform: translate(-40px, 0px) rotate(408deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(480deg);
  }
}
/*Sreen M___________________________________________________________________________________*/
.background-m-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 190px;
  position: fixed;
  z-index: -1;
  top: 20%;
  right: 20%;
  border: 1.5px solid #3E3E3E;
  border-radius: 6px;
  background-color: #010101;
  animation: floating-M linear 60s infinite;
  transform: rotate(160deg);
}
.background-m-screen1 .background-m-screen2 {
  height: 99px;
  width: 179px;
  border: 0.8px solid #3E3E3E;
  border-radius: 5px;
}

@keyframes floating-M {
  0% {
    transform: translate(0px, 0px) rotate(160deg);
  }
  20% {
    transform: translate(100px, 50px) rotate(232deg);
  }
  40% {
    transform: translate(100px, -200px) rotate(304deg);
  }
  60% {
    transform: translate(-80px, -100px) rotate(376deg);
  }
  80% {
    transform: translate(-140px, -30px) rotate(448deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(520deg);
  }
}
/*Sreen L___________________________________________________________________________________*/
.background-l-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 280px;
  position: fixed;
  z-index: -1;
  bottom: 15%;
  left: 3%;
  background-color: #010101;
  border: 1.8px solid #3E3E3E;
  border-radius: 10px;
  animation: floating-L linear 60s infinite;
  transform: rotate(-60deg);
}
.background-l-screen1 .background-l-screen2 {
  height: 126px;
  width: 266px;
  border: 1px solid #3E3E3E;
  border-radius: 8px;
}

@keyframes floating-L {
  0% {
    transform: translate(0%, 0%) rotate(-60deg);
  }
  20% {
    transform: translate(-150px, -80px) rotate(-100deg);
  }
  40% {
    transform: translate(0px, -200px) rotate(-139deg);
  }
  60% {
    transform: translate(40px, -100px) rotate(-150deg);
  }
  80% {
    transform: translate(40px, 80px) rotate(-108deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-60deg);
  }
}
/*Sreen XL___________________________________________________________________________________*/
.background-xl-screen1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 290px;
  position: fixed;
  z-index: -1;
  bottom: 0%;
  right: -40%;
  background-color: #010101;
  border: 1.8px solid #3E3E3E;
  border-radius: 15px;
  animation: floating-XL linear 60s infinite;
  transform: rotate(20deg);
}
.background-xl-screen1 .background-xl-screen2 {
  height: 180px;
  width: 270px;
  border: 1px solid #3E3E3E;
  border-radius: 12px;
}

@keyframes floating-XL {
  0% {
    transform: translate(0%, 0%) rotate(20deg);
  }
  20% {
    transform: translate(-150px, -80px) rotate(100deg);
  }
  40% {
    transform: translate(-150px, -200px) rotate(160deg);
  }
  60% {
    transform: translate(-40px, -100px) rotate(190deg);
  }
  80% {
    transform: translate(20px, 0px) rotate(195deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(200deg);
  }
}
body {
  background-color: #010101;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
